
.body{
     background-color:beige;
}

body{
    margin: 0;
}
.content{
    width: 100%;
    height: 500px;
 background-color:beige;
}



.left-side{
    width:50%;
    float: left;
    margin-top: 100px;


}

.right-side{
    width: 50%;
    float: left;



}

#formid{
    background-color: aliceblue ;
    width: 370px;
    height: 330px;
    margin-left: 150px;
    margin-top: 120px;
    padding-left: 20px;
            border-radius: 6px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}

.inputclass{
    margin: 10px;
    width: 330px;
    text-align: center;
    height: 45px;
    border-style: groove;
            border-radius: 6px;
    border: none;




}

.para{
    text-align: center;

}


#loginbutton{
    background-color: #0866ff;
    color: aliceblue;
        border-radius: 6px;
    border: none;
    cursor: pointer;
}

#loginbutton:hover{
    background-color: #3578E5;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);

}
#newaccount-button{
    background-color: #36a420;
    color: azure;
    width: 175px;
    margin-left: 90px;
    border-radius: 6px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

#newaccount-button:hover{
    background-color: rgb(7, 240, 123);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

h1{
    color:#3578E5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
}

h1:hover{
    color: #3541e5;
    text-shadow: 0 8px 16px 0 rgba(78, 28, 158, 0.6); ;
}

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    margin-left: 65px;
    margin-top: -35px;
    width: auto;

}
#p-link{
        margin-left: 40px;
        text-align: center;
}
.aa{
    color: #3578E5;
    text-decoration: none;
    cursor: pointer;
}
.aa:hover{

    color: #684edb;
}
.aaa{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.aaa:hover{
    background-color: rgba(0, 0, 0, 0.19);
}
.footer{
    background-color:azure;
    height: 150px;
    width: 100%;
}

.footerlink{

    text-decoration: none;
    cursor: pointer;
    color: black;
}

.footerlink:hover{
    color:rgba(136, 128, 117, 0.788);
}

#footer-para1{

    text-align: center;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
    word-spacing: 10px;

}
#footer-para2{
    text-align: center;
    word-spacing: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;

}