h1{
    color:#3578E5;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    padding-top: 10px;
    font-size: 52px;
    margin: -7px;


}


.body{

    width: 100%;
    height:700px;
    background-color:aliceblue;
}

.formbody{
    background-color:bisque;
    width: 25%;
    height: 500px;
    margin-left: 500px;
    padding: 15px;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}
.inputclass{
margin-top: 5px;
height: 33px;
border: none;
border-radius: 5px;
}
#firstnameid{
    width: 130px;
    margin-left: 15px;
    padding-left: 10px;
}

#secondnameid{
    width: 130px;
    margin-left: 15px;
    padding-left: 10px;
}

.dob{
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}
.logintext{
    width: 300px;
    text-align: center;
    margin-left: 15px;
}
#signup_button{
    background-color: chartreuse;
    width: 300px;
    border-radius: 5px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;

}

#signup_button:hover{
    background-color: forestgreen;
}

#paradetails{
    font-family:monospace;
    font-size: 12px;
    margin-left: 15px;
}
#firstpara{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 50px;
}
#dob{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 10px;
}
.radiobutton{
    margin-left: 50px;
}

#h2{
    margin-left: 50px;
}
.footer{
    background-color:aliceblue;
    padding-left: 25px;
}



#footerpara1{
        text-align: center;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
    word-spacing: 10px;
}

#footer-para2{
    text-align: center;
    word-spacing: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;

}

.alink{
    text-decoration: none;
    padding-left: 72px;
    cursor: pointer;
    
}

.alink:hover{
    color: blueviolet;
}